.mainHeader {
  padding: 25px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100%;
  /* animation */
  transition-timing-function: ease-in !important;
  transition: all 0.5s !important;
  box-shadow: none !important;
  position: fixed;
  z-index: 100;
  scroll-behavior: smooth;
  
}
.mainHeader__appear {
 background-color: white;
  /* animation */
  transition-timing-function: ease-in !important;
  transition: all 0.5s !important;
}
.mainHeader__darkLogo {
  display: none;
}
.mainHeader__darkLogoAppear {
  position: relative;
  display: inline;
  

}
.mainHeader__logoDisappear {
  display: none;
}

.mainHeader__links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  flex-direction: row;
}
.header__link {
  text-decoration: none;
  display: flex;
  color: white

}

.mainHeader__logo {
  font-size: 25px;
  font-weight: bold;
  padding-left: 3vw;
}

.mainHeader__button {
  align-self: center;
  box-shadow: none !important;
  color: white !important;
  background: transparent !important;
  font-weight: bolder;
  font-size: 20px !important;
}
.mainHeader__buttonAppear {
  color: black !important;
}
.burger {
  color: Black !important;
  padding-right: 20vw !important;
}
