.footer {
    bottom: 0;
    flex-direction: column;
    background-color: #f9f9f8;
}

.footer__logo {
    width: 75%;
    margin: auto;

}

.footer img {
    height: 10vh;
    object-fit: contain;
    padding-top: 20px;
}

.footer__grid {
    display: flex;
    width: 50%;
    margin: auto;
}

.footer__infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    width: 90%;
    margin: auto;
    color: rgb(25, 118, 210) !important;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer__socials {
    display: flex;
    flex-wrap: nowrap;
}